@model Shoes_store.Models.Review

@{
    ViewData["Title"] = "Создать отзыв";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="CreateReview" method="post">
    <div class="form-group">
        <label for="Product">Продукт</label>
        <select class="form-control" id="Product" asp-for="IdProduct">
            @foreach (var product in ViewBag.Products)
            {
                <option value="@product.IdProduct">@product.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="User">Пользователь</label>
        <select class="form-control" id="User" asp-for="IdUser">
            @foreach (var user in ViewBag.Users)
            {
                <option value="@user.IdUser">@user.FullName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="Rating">Оценка</label>
        <input type="number" class="form-control" id="Rating" asp-for="Rating" min="1" max="5" />
    </div>
    <div class="form-group">
        <label for="Comment">Комментарий</label>
        <textarea class="form-control" id="Comment" asp-for="Comment"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
